<template>
  <div :class="'card_' + section_name">
    <div class="poster">
      <img
        v-if="element.poster_path !== null"
        width="342"
        :src="getImagePath(element.poster_path)"
        alt=""
      />
      <img src="../assets/movie_placeholder.png" alt="" v-else />
    </div>
    <div class="metadata">
      <template v-if="section_name === 'movies'">
        <h3>{{ element.title }}</h3>
        <h5>{{ element.original_title }}</h5>
      </template>
      <template v-else>
        <h3>{{ element.name }}</h3>
        <h5>{{ element.original_name }}</h5>
      </template>
      <div class="rating">
        <font-awesome-icon
          :icon="['fas', 'star']"
          v-for="vote in getVotes(element.vote_average)"
          :key="vote + 'full'"
        ></font-awesome-icon>
        <font-awesome-icon
          :icon="['far', 'star']"
          v-for="vote in 5 - getVotes(element.vote_average)"
          :key="vote + 'empty'"
        ></font-awesome-icon>
      </div>
      <div class="language">
        <span v-if="getFlags(element.original_language)">
          <country-flag
            :country="
              element.original_language === 'en'
                ? 'gb'
                : element.original_language
            "
            size="big"
          />
        </span>
        <span v-else>
          {{ element.original_language }}
        </span>
      </div>
      <p class="overview">
        {{ element.overview }}
      </p>
      <div class="genres">
        <h5>Genres:</h5>
        <small>{{ getGenres() }}</small>
      </div>
      <div class="cast">
        <h5>Cast:</h5>
        <small>{{ getCast() }}</small>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    element: Object,
    section_name: String,
    api_key: String,
  },
  data() {
    return {
      flags: ["it", "fr", "es", "en", "nl"],
      base_image_path: "https://image.tmdb.org/t/p/w342",
      details: null,
    };
  },
  methods: {
    getFlags(langCode) {
      return this.flags.includes(langCode);
    },
    getImagePath(image) {
      return this.base_image_path + image;
    },
    getVotes(vote) {
      //console.log(Math.round(vote / 2));
      return Math.round(vote / 2);
    },
    getGenres() {
      /* console.log("return all genres"); */
      //console.log(this.details.genres);
      if (this.details !== null) {
        return this.details.genres
          .map((el) => {
            return el.name;
          })
          .toString();
      }
    },
    getCast() {
      /* console.log("return all cast names"); */
      //console.log(this.details.cast);

      if (this.details !== null) {
        return this.details.cast
          .slice(0, 4)
          .map((el) => {
            return el.name;
          })
          .toString();
      }
    },

    apiCallCast(id) {
      const full_url = `https://api.themoviedb.org/3/${
        this.section_name === "movies" ? "movie" : "tv"
      }/${id}/credits?api_key=${this.api_key}`;
      //console.log(full_url);
      return axios.get(full_url);
    },
    apiCallGenres(id) {
      const full_url = `https://api.themoviedb.org/3/${
        this.section_name === "movies" ? "movie" : "tv"
      }/${id}?api_key=${this.api_key}`;
      //console.log(full_url);
      return axios.get(full_url);
    },
    apiCallDetails(id) {
      Promise.all([this.apiCallGenres(id), this.apiCallCast(id)])
        .then((resp) => {
          const movieDetails = resp[0].data;
          const castDetails = resp[1].data;
          //{...movieDetails, ...castDetails});
          this.details = { ...movieDetails, ...castDetails };
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  created() {
    /* console.log(this.element.id); */
    this.apiCallDetails(this.element.id);
  },
};
</script>

<style lang="scss">
.card {
  position: relative;
  .poster {
    transition: opacity cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s;
    img {
      width: 342px;
      height: 542px;
      object-fit: cover;
      object-position: center;
    }
  }
  .metadata {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    h3 {
      font-size: 1.5rem;
    }
      h3,
    h5 {
      text-transform: uppercase;
    }
    h3,
    h5,
    .rating {
      margin: 0.8rem 0 0.5rem 0;
    }
    .rating {
      color: yellow;
    }
    .overview {
      margin: 1rem 0;
      max-height: 200px;
      overflow-y: auto;
    }
  }

  &:hover {
    cursor: pointer;
    .poster {
      opacity: 0.1;
      box-shadow: 2px 2px 6px rgb(39, 39, 39);
    }
    .metadata {
      padding: 1rem;
      display: block;
    }
  }
}
</style>