<template>
  <header id="site_header">
    <div class="logo">
      <img src="@/assets/logo.png" alt="" />
    </div>
    <div class="search-box">
      <form>
        <input
          type="text"
          placeholder="Cerca un film"
          v-model="searchString"
          @keyup.prevent="callApi"
        />
        <span class="search-icon" @click.prevent="callApi">
          <font-awesome-icon icon="search"></font-awesome-icon>
        </span>
      </form>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      logo: '@/assets/logo.png',
      searchString: "",
    };
  },
  methods: {
    callApi() {
      this.$emit("call-api", this.searchString);
    },
  },
};
</script>

<style lang="scss">
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  .search-box {
    border-bottom: 1px solid white;
    [type="text"] {
      height: 1.5rem;
      background-color: transparent;
      border-style: none;
       color: white;
      &:focus-visible {
        outline: none;
       
      }
    }
    .search-icon {
      color: white;
    }
  }
}
</style>