<template>
  <div id="app">
    <SiteHeader @call-api="callApi" />
    
    <main id="main_content" class="container">
      <section
        v-for="(data, key, index) in searchResults"
        :key="index"
        :class="key"
      >
        <h2 class="section_title my-2">{{ key.toUpperCase() }}</h2>
        <div class="row">
          <Card
            :element="element"
            class="card"
            v-for="element in data.results"
            :key="element.id"
            :section_name="key"
            :api_key="api_key"
          />
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import axios from "axios";
import SiteHeader from "@/components/SiteHeader";
import Card from "@/components/Card";
export default {
  name: "App",
  components: {
    SiteHeader,
    Card,
  },
  data() {
    return {
      searchString: "",
      movies_url: "https://api.themoviedb.org/3/search/movie",
      series_url: "https://api.themoviedb.org/3/search/tv",
      api_key: "8a82473cbca2910e464dbdb44137c5cf",
      error: null,
      searchResults: {},
      

    };
  },
  methods: {
    callApi(searchText) {
      Promise.all([this.getMovies(searchText), this.getShows(searchText)]).then(
        (resp) => {
          /* console.log(resp); */
          const movies = resp[0].data;
          const series = resp[1].data;
          this.$set(this.searchResults, "movies", movies);
          this.$set(this.searchResults, "series", series);
        }
      );
    },
    getMovies(searchText) {
      const full_url = `${this.movies_url}?api_key=${this.api_key}&query=${searchText}`;
      return axios.get(full_url);
    },
    getShows(searchText) {
      const full_url = `${this.series_url}?api_key=${this.api_key}&query=${searchText}`;
      return axios.get(full_url);
    },
  }
};
</script>

<style lang="scss">
@import "./assets/scss/common.scss";
</style>
