* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $base-color;
  color: white;
  font-family: sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 4);
  padding: 0.5rem;
}

.my-2 {
  margin: 2rem 0;
}

.section_title {
  font-size: 2rem;
}

img {
  max-width: 100%;
}